<nav class="breadcrumb" aria-label="{{ i18n "breadcrumbNav" }}">
  <a href="{{ .Site.Home.Permalink }}">{{ i18n "home" }}</a>
  {{ range .Ancestors.Reverse }}
    {{ if ne .Kind "home" }}
    &rsaquo; <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  &rsaquo; <span>{{ .Title }}</span>
</nav>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": {{ i18n "home" | jsonify }},
      "item": "{{ .Site.Home.Permalink }}"
    }
    {{ $pos := 1 }}
    {{ range .Ancestors.Reverse }}
    {{ if ne .Kind "home" }}
    {{ $pos = add $pos 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": {{ .Title | jsonify }},
      "item": "{{ .Permalink }}"
    }
    {{ end }}
    {{ end }}
    {{ $pos = add $pos 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": {{ .Title | jsonify }},
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
