{{ define "main" }}
<h1>{{ .Site.Title }}</h1>

{{ with .Content }}
<div class="homepage-intro">
  {{ . }}
</div>
{{ else }}
<p>{{ .Site.Params.description }}</p>
{{ end }}

{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ if $posts }}
<h2>Latest Posts</h2>
<ul class="post-list">
  {{ range first 10 $posts }}
  <li class="post-item">
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ with .Description }}<p>{{ . }}</p>{{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
